body {
  height: 900px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d2d9e;
    color: white;
    text-align: center;
    background-image: linear-gradient(#2d2d9e, #66ccff);
}
form {
    border: 3px solid #f1f1f1;
      /* text-align: center; */
      background-color: #6a6af1;
      padding: 16px;
      color: black;
      margin-left: 25%;
      margin-right: 25%;
}


#gocreate {
  background-color: #00d4ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#gocreate:hover {
  opacity: 0.8;
}

#gologin {
    background-color: #00d4ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #gologin:hover {
    opacity: 0.8;
  }


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
    color: white;
    text-align: center;
    background-image: linear-gradient(#2d2d9e, #66ccff);
}

    form {
        width: auto;
        margin-left: 20%;
        margin-right: 20%;
    }

  }
