<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating App</title>
    <script src="../model/scripts.js" defer></script>
</head>
<body>
    <h1>Welcome to the worlds greatest Dating app</h1>
    <form>
        <div class="createUser">
            <label for="createUser">Do you wanna create an account: </label>
            <a href="/createUser.html">
            <input type="button" value="New user">
            </a>
        </div>
            
        <div class="login">
                <label for="login">Already have an account, login here: </label>
                <a href="/Login.html">
                    <input type="button" value="Login">
                </a>
        </div>
        </form>
</body>
</html>